---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

IndentWidth: 2
UseTab: Never
ColumnLimit: 80

BreakBeforeBraces: Attach
PointerAlignment: Right
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
