Checks: 'clang-analyzer-*,-clang-analyzer-security.insecureAPI.*,-clang-analyzer-deadcode.DeadStores,-clang-analyzer-optin.performance.Padding,-clang-analyzer-cplusplus.NewDelete,bugprone-narrowing-conversions,bugprone-suspicious-string-compare,bugprone-switch-missing-default-case,bugprone-branch-clone'
HeaderFilterRegex: '^.*/src/.*'
CheckOptions:
  - key: bugprone-suspicious-string-compare.WarnOnImplicitComparison
    value: false
