[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "third_party/libtelnet"]
	path = third_party/libtelnet
	url = https://github.com/seanmiddleditch/libtelnet.git
	branch = develop
[submodule "third_party/libsodium"]
	path = third_party/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "third_party/tomlc17"]
	path = third_party/tomlc17
	url = https://github.com/cktan/tomlc17.git
[submodule "third_party/cmark"]
	path = third_party/cmark
	url = https://github.com/commonmark/cmark.git
[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git
